* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Rubik Wet Paint', cursive;
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(30, 30, 30);
}

header,
footer {
  text-align: center;
  color: #f1f1f1;
  background-color: rgb(30, 30, 30);
  line-height: 2em;
  letter-spacing: 0.1em;
}

header {
  margin: 0 0 1rem 0;
  font-size: 2rem;
}

footer {
  margin: 1rem 0 0 0;
  font-size: 1.3rem;
}

main {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  flex: 1;
}

a {
  transition: all 0.15s linear;
}
a:link,
a:visited {
  text-decoration: none;
  color: #f1f1f1;
}
a:hover {
  text-shadow: 0 0 1.5rem #fff;
}
a:active {
  color: #999;
}




.gallery__items {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.gallery__item {
  overflow: hidden;

  position: relative;
  padding: 0 0 50% 0;
}

.gallery__item img {
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
  inset: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: all 0.5s;
}
.gallery__item:hover img {
  transform: scale(3);
}

.gallery__item_big {
  grid-column: span 2;
  grid-row: span 2;
} 





/* .card {
  overflow: hidden;
  position: relative;
}

.card > img {
  position: absolute;
  z-index: -1;
  inset: 0;

  height: 100%;
  width: 100%;
  object-fit: cover;

  transition: transform 500ms;
}

.card:hover > img {
  transform: scale(3);
} */


@media (max-width: 500px) {
  .gallery__items {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}